body {
	background: lightblue;
}

.meatBox {
  width: 15%;
  margin: 5px;
  text-align: center;	
  background: #194a6b;
  background-image: -webkit-linear-gradient(top, #194a6b, #2980b9);
  background-image: -moz-linear-gradient(top, #194a6b, #2980b9);
  background-image: -ms-linear-gradient(top, #194a6b, #2980b9);
  background-image: -o-linear-gradient(top, #194a6b, #2980b9);
  background-image: linear-gradient(to bottom, #194a6b, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 5px 4px 4px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Courier New;
  color: #fff7ff;
  font-size: 27px;
  padding: 10px 20px 10px 20px;
  border: solid #dfeffa 2px;
  text-decoration: none;
}

.selected {
  background: #3cb0fd;
  text-decoration: none;
}